#font-picker {
    width: 200px;
    border: 1px solid #CCC;
    position: fixed;
    z-index: 999;
    padding: 5px;
    background-color: #FFF;
    display: none;
}

#font-picker #controls {
    margin-bottom: 5px;
}

#font-picker #list {
    overflow-y: auto;
    background-color: #FFF;
    height: 200px;
}

.container {
    position: relative;
}
